<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <style>
      body {
        background-color: #e3e2df; /*eae7dc;*/
        font-family: "Poppins", sans-serif;
      }

      .collapsible {
        background-color: #ee4c7c; /*e98074;*/
        color: white;
        cursor: pointer;
        margin: auto;
        margin-left: 250px;
        margin-right: 250px;
        padding: 1px 50px;
        height: 70px;
        width: 70%;
        border: 2px solid #5d001e;
        text-align: left;
        /* outline: none; */
        font-size: 25px;
        border-radius: 10px;
      }

      .active,
      .collapsible:hover {
        background-color: #9a1750; /*e85a4f;*/
      }

      .content {
        padding: 1px 50px;
        margin-left: 250px;
        margin-right: 250px;
        width: 63%;

        display: none;
        overflow: hidden;
        background-color: #e3afbc;
        border-radius: 10px;
        font-size: 20px;
      }

      h1 {
        /* margin-left: 250px; */
        font-weight: 500;
        line-height: 42px;
        text-align: center;
        font-family: "Poppins", sans-serif;
      }
      button {
        /* margin-top: 33px; */
        width: 15%;
        background-color: #ffffff;
        color: #080710;
        padding: 15px 0;
        font-size: 18px;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
      }
      button:hover {
        background-color: black;
        color: white;
      }
      .logout {
        display: block;
        color: black;
        padding: 16px;
        text-decoration: none;
        font-size: 20px;
        text-align: center;
      }
      /* a:hover:not(.active) {
        background-color: #555;
        color: white;
      } */

      /* .sidebar {
        margin: 0;
        padding: 0;
        width: 250px;
        background-color: #f1f1f1;
        position: fixed;
        height: 100%;
        overflow: auto;
        font-size: 20px;
      }

      .sidebar a {
        display: block;
        color: black;
        padding: 16px;
        text-decoration: none;
      }

      .sidebar a:hover:not(.active) {
        background-color: #555;
        color: white;
      } */
    </style>
  </head>

  <body>
    <h1>Trip Requests</h1>

    <% for(let trip of trips) {%>

    <button class="collapsible" type="button" style="margin-top: 5px;">
      <%= trip[1]%> to <%= trip[2]%>
    </button>
    <div class="content" style="margin-bottom: px;">
      <div>Requester: <%= trip[11]%></div>
      <div>Date of Joining: <%= trip[12]%></div>
      <div>Nationality: <%= trip[13]%></div>
      <div>Date of Birth: <%= trip[14]%></div>
      <div>Passport Number: <%= trip[15]%></div>
      <div>From: <%= trip[1]%>, <%= trip[3]%></div>
      <div>To: <%= trip[2]%>, <%= trip[4]%></div>
      <div>Date of Journey: <%= trip[7]%></div>
      <div>Accomodation: <%= trip[5]%></div>
      <div>Reason: <%= trip[6]%></div>
      <div>Amount: <%= trip[8]%></div>
      <div>Currency: <%= trip[9]%></div>

      <a href="/approve/<%=trip[0]%>/<%=trip[11]%>"><button>APPROVE</button></a>
      <a href="/decline/<%=trip[0]%>"><button>DECLINE</button></a>
    </div>
    <% } %>

    <div class="logout">
      <a href="/account/logout">Logout</a>
    </div>
    <script>
      var coll = document.getElementsByClassName("collapsible");
      var i;

      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.display === "block") {
            content.style.display = "none";
          } else {
            content.style.display = "block";
          }
        });
      }
    </script>
  </body>
</html>
